.showMenu{
    animation-name: show;
    animation-timing-function: cubic-bezier(.58,-0.02,.38,.99);
    animation-duration: 550ms;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    transform: translateX(0%);
}

@keyframes show {
    from {
        transform: translateX(100%);
    }
    to {      
        transform: translateX(0%);
    }
}

.hideMenu{
    animation-fill-mode: forwards;
    animation-name: hide;
    animation-timing-function: ease-in-out;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    transform: translateX(100%);
}

@keyframes hide {
    0% {
        transform: translateX(0%);
    }
    100% {
        display: none;
    }
}