@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Arya:wght@400;700&family=Gotu&family=Hind:wght@300;400;500;600;700&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Jaini+Purva&family=Kalam:wght@300;400;700&family=Martel:wght@200;300;400;600;700;800;900&family=Modak&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Palanquin+Dark:wght@400;500;600;700&family=Rajdhani:wght@300;400;500;600;700&family=Rozha+One&family=Sarala:wght@400;700&family=Sura:wght@400;700&family=Teko:wght@300..700&family=Yatra+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: "Montserrat", sans-serif;
  color-scheme: dark;
  overflow-x: hidden;
}